@import '../layout/header';
@import '../layout/grid';
@import '../layout/grid';
@import '../layout/landing';
@import '../layout/footer';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
}
// start hot offer
.hot-offer {
  padding: 50px 0;
  overflow-x: auto;
  margin: 0 auto;

  @media (max-width: 992px) {
    width: 100% !important;
    margin: 10px;
  }
  @media (max-width: 767px) {
    justify-content: flex-start !important;
  }
}

.container-card {
  box-shadow: $mainShadow;
  background-color: #eee;
  min-width: 350px;
}

.header-card {
  .header-text {
    h3 {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      max-width: 80%;
    }
    p {
      max-width: 80%;
      font-size: 16px;
      opacity: 0.5;
      margin-left: 10px;
    }
  }
  .image {
    margin-top: -20px;
    margin-right: -30px;
    padding: 10px;
    border-radius: 50%;
  }
  .image image {
    object-fit: cover;
  }
}
.hot-offer .card-body {
  .icon-list {
    font-size: 22px;
  }
  .text-list {
    h6 {
      margin: 0;
      font-size: 22px;
      font-weight: bold;
    }
    p {
      color: rgba(#000, 0.6);
      margin-left: 8px;
      font-size: 14px;
    }
  }
}

.more-details {
  padding: 10px 0;
  .entry-btn {
    font-size: 17px;
    width: 150px;
    border-radius: 1px;
  }
}

//end hot offer

//start car card

.car-card {
  padding-top: 40px;
}

//end car card

//Start base info

.base-info {
  margin-top: 60px;
  .header {
    .header-title {
      font-weight: bolder;
      font-size: 30px;
    }
    .header-description {
      width: 70%;
      margin-left: 10px;
    }
  }

  .details {
    .item {
      .item-header {
        .icon {
          font-size: 30px;
        }
        .item-title {
          font-size: 25px;
          font-weight: bold;
          margin-left: 10px;
        }
      }
      .item-description {
        margin-top: 20px;
      }
    }

    @media (max-width: 767px) {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .videos {
    margin: 20px 50px;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    @media (max-width: 470px) {
      margin: 20px 0;
    }
    .item {
      p {
        max-width: 70%;
        @media (max-width: 500px) {
          max-width: 100%;
        }
      }
      @media (max-width: 470px) {
        width: 95%;
      }
    }
  }
}
//end base info
