@import '../layout/header';
@import '../layout/grid';
@import '../layout/grid';
@import '../layout/landing';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
}
// start hot offer
.hot-offer {
  padding: 20px 0;
}

.container-card {
  box-shadow: $mainShadow;
  background-color: #eee;
}

.header-card {
  .header-text {
    h3 {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      max-width: 80%;
    }
    p {
      max-width: 80%;
      font-size: 16px;
      opacity: 0.5;
      margin-left: 10px;
    }
  }
  .image {
    background-color: #eee;
    position: absolute;
    right: 30px;
    top: 0;
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .image image {
    object-fit: cover;
  }
}
.hot-offer .card-body {
  .icon-list {
    font-size: 22px;
  }
  .text-list {
    h6 {
      margin: 0;
      font-size: 22px;
      font-weight: bold;
    }
    p {
      color: rgba(#000, 0.6);
      margin-left: 8px;
      font-size: 14px;
    }
  }
}

.more-details {
  padding: 10px 0;
  .entry-btn {
    font-size: 17px;
    width: 150px;
    border-radius: 1px;
  }
}

//end hot offer

//start car card

.car-card {
  padding-top: 40px;
}

//end car card
