@import '../layout/header';
@import '../layout/grid';
@import '../layout/grid';

.product {
  width: 200px;
  height: 200px;
  background-color: #999;
  position: relative;
  .overlay {
    @include overlay;
    background-color: rgba(black, 0.2);
    width: 100%;
    height: 100%;
  }
}
