.landing {
  position: relative;
  height: 70vh;
  width: 100vw;
  @media (max-width: 767px) {
    padding-top: 20px;
    height: auto;
  }
}
.landing .container {
  padding-bottom: 120px;
  height: 100%;
  overflow: hidden;
  @media (max-width: 992px) {
    align-items: flex-end !important;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
.landing::before {
  content: '';
  position: absolute;
  background-color: $mainColor;
  height: 1911px;
  width: 1846px;
  left: 42%;
  top: -1301px;
  border-radius: 50%;
  z-index: -10000;
  @media (max-width: 767px) {
    left: 10%;
  }
  @media (max-width: 575px) {
    position: relative;
  }
}
.cirlce {
  position: absolute;
  right: 0;
  width: 79%;
  top: 0;
  height: 424px;
  z-index: -1;
}
.landing .text {
  flex: 1; // to make the text take same size same image
}
.landing .text .text-heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  max-width: 80%;
  margin: 0;
  letter-spacing: -2px;
  @media (max-width: 767px) {
    font-size: 33px;
    width: 100%;
    max-width: 100%;
  }
}

.landing .text .text-description {
  margin-left: 15px;
  line-height: 1.9;
  font-size: 21px;
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 700px;
  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 1.6;
  }
}
.landing .image img {
  max-width: 600px;
  width: 500px;
  flex: 1;
  @media (max-width: 1200px) {
    max-width: 530px;
  }
  @media (max-width: 992px) {
    width: 400px;
  }
}
.image {
  z-index: 10;
}
.button .entry-btn {
  width: 200px;
  margin: 0 20px;
}
